@{
    ViewData["Title"] = "bike";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <style>

    </style>
    <meta charset="utf-8">
    <title>
        Vehical Safety Products
        - Road Safety Tool
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    
   
    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="Home" class="navbar-brand p-0">
                <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>Binary Brains</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="Home" class="nav-item nav-link active">Home</a>
                    <a href="./home/#map" class="nav-item nav-link">Live Location</a>
                    <a href="RoadAccident" class="nav-item nav-link">Accident Data</a>
                    <div class="nav-item dropdown">
                        <a href="Bike" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> Vehical Safety Products</a>
                        
                    </div>

                    <a href="guardians" class="nav-item nav-link">Emergency Contact</a>

                    <a href="About" class="nav-item nav-link">About Us</a>

                </div>
                <butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
               
            </div>
        </nav>

        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="./css/img/Bike-1.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                           
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">Helmets are great for hiding one's feelings</h1>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="./css/img/Bike-2.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
@*                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Safety is Gainful, Accident is Painful</h5>*@
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn"> Wear helmets, ride safely!</h1>

                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Navbar & Carousel End -->
    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                        <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--text start-->
   
    <!--Rules Start-->
    <br />
    <br />

    <div class="row" id="new1">
        <div class="col-sm-12">
            <div class="text-sm-center mb-30">


                <h1 class="h2-v2" style="color:darkblue">Top Road Safety Rules to Follow in India</h1>

            </div>
        </div>

        <div class="col-md-10 col-md-offset-1" id="new1">
            <div>


                <div class="content-info-list">


                    <p>
                        Every State government has enacted certain road laws to protect its citizens. They have also enacted laws to protect animals and pedestrians. Below are some of the key road safety measures.
                    </p>

                </div>


                <div class="content-info-list">
                    <h3 class="font-bold">1. Animal Safety</h3>

                    <p>
                        Cattle, cats and dogs are allowed to roam freely. Hence, avoid hurting them or running them over while driving.
                    </p>

                </div>


                <div class="content-info-list">
                    <h3 class="font-bold">2. Cross on Zebra Crossing</h3>

                    <p>
                        The importance of road safety is lost on those who do not use the zebra crossing to cross a road! The black and white stripes are there for a reason, and for your safety, make use of it to cross the road.
                    </p>

                </div>


                <div class="content-info-list">
                    <h3 class="font-bold">3. Drinking and Driving</h3>

                    <p>
                        Among the important road safety rules is to avoid consuming alcohol and then driving. Alcohol consumption impairs cognitive functioning and hence prevents a person from being fully in control of the vehicle.
                    </p>

                </div>


                <div class="content-info-list">
                    <h3 class="font-bold">4. Exhaustion or Health Issues</h3>

                    <p>
                        Road safety rules demand that you not drive if you have some health issues. Moreover, if you are exhausted, then also it is advised not to drive.
                    </p>

                </div>


                <div class="content-info-list">
                    <h3 class="font-bold">5. Follow Traffic Lights</h3>

                    <p>
                        Be obedient to all the traffic signals. Walk when the signal shows green to walk. Also, follow traffic lights when driving.
                    </p>

                </div>


                <div class="content-info-list">
                    <h3 class="font-bold">6. Keeping to the Left</h3>

                    <p>
                        Among the safety rules on the road, a vital one is keeping to the left while walking or driving so that you do not collide with vehicles coming from the right.
                    </p>

                </div>


                <div class="content-info-list">
                    <h3 class="font-bold">7. Slow Down at Intersections</h3>

                    <p>
                        Slow down while entering the main road, crossings, intersections, and corners,
                    </p>

                </div>


                <div class="content-info-list">
                    <h3 class="font-bold">8. Turn Signals and Hand Gestures</h3>

                    <p>
                        Use the necessary signals when you are turning, slowing down or allowing some other vehicle to pass. Do not use horns in the silent zone.
                    </p>

                </div>


                <div class="content-info-list">
                    <h3 class="font-bold">9. Use of Mobile Phones</h3>

                   
                    <p>
                    </p><p>Using mobile phones while on the road can cost lives. Hence, as a road safety point, avoid using your mobile phone while on the road.&nbsp;</p>
                    <p>
                        These were the most important of the road safety rules. There are others discussed below.<br>
                    </p>

                    <p></p>

                </div>


                <div class="content-info-list">
                    <h3 class="font-bold">10. Driving on One Way Roads</h3>

                    <p>
                        There are many one way roads in India. While driving a car, you need to be cautious of driving in the right direction, as it can be dangerous. Moreover, you should avoid parking your vehicle in a reverse direction on such a road.
                    </p>
                    <div class="content-menu">
                        These were the most important of the road safety rules. There are others discussed below.
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="heading-paragargh-list">










        <div class="row" id="new1">
            <div class="col-sm-12">
                <div class="text-sm-center mb-30">


                    <h1 class="h2-v2" style="color:darkblue">Road Safety Rules and Regulations for Cars</h1>

                </div>
            </div>

            <div class="col-md-10 col-md-offset-1" id="new1">
                <div>


                    <div class="content-info-list">


                        <p>
                            These are the road safety rules for those driving cars.
                        </p>

                    </div>


                    <div class="content-info-list">
                        <h3 class="font-bold">1. Wear Seatbelts</h3>

                        <p>
                            Section 183 (3) CMVR 177 MVA of the Motor Vehicles Act states the fine for not wearing a seatbelt while driving. Hence for car drivers, the most important rule is to wear seatbelts.
                        </p>

                    </div>


                    <div class="content-info-list">
                        <h3 class="font-bold">2. Avoid Getting Distracted</h3>

                        <p>
                            When driving, avoid getting distracted. Instead, focus fully on the road.
                        </p>

                    </div>


                    <div class="content-info-list">
                        <h3 class="font-bold">3. Respect Speed Limits</h3>

                        <p>
                            Driving at higher speeds can lead you to pay the penalty or cause an accident.
                        </p>

                    </div>


                    <div class="content-info-list">
                        <h3 class="font-bold">4. Maintain Your Car</h3>

                        <p>
                            An ill-maintained vehicle can cause an accident. Hence, you should maintain your car so that your ill-maintained car doesn’t cause accidents.
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="heading-paragargh-list">








        <div class="row" id="new1">
            <div class="col-sm-12">
                <div class="text-sm-center mb-30">


                    <h1 class="h2-v2" style="color:darkblue">Road Safety Rules and Regulations for Bikes</h1>

                </div>
            </div>

            <div class="col-md-10 col-md-offset-1" id="new1">
                <div>

                    
                    <div class="content-info-list">


                        <p>
                            Here are the road safety guidelines for bikes.
                        </p>

                    </div>


                    <div class="content-info-list">
                        <h3 class="font-bold">1. Wear a Helmet</h3>

                        <p>
                            Always wear ISI-certified helmets while driving. These will protect your head during a collision.
                        </p>

                    </div>


                    <div class="content-info-list">
                        <h3 class="font-bold">2. Do Not Swerve Between Lanes</h3>

                        <p>
                            Many drivers enjoy biking. However, swerving between lanes causes a lot of accidents. Hence, this should be avoided. Hence, follow lane discipline and try not to maneuver in tiny gaps.
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </section></div>
    <!--text end-->



    <!-- Service Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h3 class="fw-bold text-primary text-uppercase"> Two-Wheeler's ' Safety Products</h3>
              
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                  

                    <div class="card">
                        <img src="./css/img/P-1.jpg" alt="Avatar" class="cimg">
                        <div class="container">
                            <p class="m-0">3M 1709IN Safety Goggles Hard Coat Eye Protector Anti Pollution Eyewear For Multipurpose Use In Riding Motorcycle</p>

                            <a class="btn btn-lg btn-primary rounded" href="https://amzn.eu/d/7iZGP7A">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                       
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    

                    <div class="card">
                        <img src="./css/img/P-6.jpg" alt="Avatar" class="cimg">
                        <div class="container">
                            
                            <p>Apple Watch SE (GPS + Cellular, 44mm) - Space Grey Aluminium Case with Midnight Sport Band - Regular</p>
                            <a class="btn btn-lg btn-primary rounded" href="https://amzn.eu/d/fXlEnvU">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    

                        <div class="card">
                        <img src="./css/img/P-2.jpg" alt="Avatar" class="cimg">
                            <div class="container">
                                
                                <p>Steelbird SBH-40 Vanguard ISI Certified Full Face Graphic Helmet for Men and Women with Inner Sun Shield</p>
                            <a class="btn btn-lg btn-primary rounded" href="https://amzn.eu/d/7GH81oY">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                 

                    <div class="card">
                        <img src="./css/img/P-3.jpg" alt="Avatar" class="cimg">
                        <div class="container">
                           
                            <p>Pro-Biker Motorcycle Bike Racing Riding Gloves</p>
                            <a class="btn btn-lg btn-primary rounded" href="https://amzn.eu/d/1SAOnw8">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                </div>
                
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    

                    <div class="card">
                        <img src="./css/img/P-5.jpg" alt="Avatar" class="cimg">
                        <div class="container">
                            <p>Scoyco Motorcycle Bike Racing Riding Knee & Elbow Guard</p>
                            <a class="btn btn-lg btn-primary rounded" href="https://amzn.eu/d/5wvI3HA">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                  
                    <div class="card">
                        <img src="./css/img/P-4.jpg" alt="Avatar" class="cimg">
                        <div class="container">

                            <p>Rynox Air GT 4 Jacket - Mesh Motorcycle Riding Jacket with Impact Protection and Abrasion Resistance</p>
                            <a class="btn btn-lg btn-primary rounded" href="https://amzn.eu/d/asHyfMK">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    <!-- Bike Service End -->
    <!-- Car  Service Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h3 class="fw-bold text-primary text-uppercase">Four Wheeler Safety Products</h3>
                
            </div>
            <div class="row g-5">

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">


                    <div class="card">
                        <img src="./css/img/PC-3.jpg" alt="Avatar" class="cimg">
                        <div class="container">

                            <p>EFERMONE Wrap Around Unisex Night Driving HD Vision Anti Glare 100% UV Protected Goggles Sunglasses For Riding Driving Travelling Sports and Outdoors (Yellow Lens)</p>
                            <a class="btn btn-lg btn-primary rounded" href="https://amzn.eu/d/awh1Ajv">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">


                    <div class="card">
                        <img src="./css/img/PC-1.jpg" alt="Avatar" class="cimg">
                        <div class="container">
                            <p class="m-0">2in1 Car Safety Anti Skid Hammer Seatbelt Cutter Emergency Class/Window Punch Breaker Auto Rescue Disaster Escape Life-Saving Hammer Tool Orange</p>

                            <a class="btn btn-lg btn-primary rounded" href="https://amzn.eu/d/2HEsN1v">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">


                    <div class="card">
                        <img src="./css/img/PC-4.jpg" alt="Avatar" class="cimg">
                        <div class="container">

                            <p>Air Vent Phone Mount, Scratch Resistant Beautiful Compact Car Mobile Phone Holder with Base for Safe Driving</p>
                            <a class="btn btn-lg btn-primary rounded" href="https://amzn.eu/d/i1ERkXR">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>

                </div>



                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">


                    <div class="card">
                        <img src="./css/img/PC-2.jpg" alt="Avatar" class="cimg">
                        <div class="container">

                            <p>CPEX Sedan SUV Car Windshield Umbrella with Safety Hammer Foldable Reflector Umbrella - Keep Your Vehicle Cool and Blocks UV Rays</p>
                            <a class="btn btn-lg btn-primary rounded" href="https://amzn.eu/d/hUjzkfT">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">

                    <div class="card">
                        <img src="./css/img/PC-6.jpg" alt="Avatar" class="cimg">
                        <div class="container">

                            <p>Onelap GO - Wireless GPS Tracker with Voice Listen for School Kids, Car, Scooty, Truck or Anything with 1 Year sim Card + (Android & iOS) app</p>
                            <a class="btn btn-lg btn-primary rounded" href="https://amzn.eu/d/hSQJAgv">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">


                    <div class="card">
                        <img src="./css/img/PC-5.jpg" alt="Avatar" class="cimg">
                        <div class="container">
                            <p>LOKO Anti-Slip Car Dashboard Mat & Mobile Phone Holder Mount with Car Perfume & Number Plate for Universal All for SUV, MUV, Navigation, God Idol, Toys, Coins, Cellphone | Smartphone, GPS Navigation</p>
                            <a class="btn btn-lg btn-primary rounded" href="https://amzn.eu/d/6t2Bs9R">
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-6 footer-about">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-primary p-4">
                        <a href="Home" class="navbar-brand">
                            <h1 class="m-0 text-white"><i class="fa fa-user-tie me-2"></i>Binary Brains</h1>
                        </a>
                        <p class="mt-3 mb-4">Stay Alert, Stay Safe.</p>
                        
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Get In Touch</h3>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-primary me-2"></i>
                                <p class="mb-0">123 Street, Rajkot, Gujarat</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-primary me-2"></i>
                                <p class="mb-0">binarybrains@gmail.com</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-primary me-2"></i>
                                <p class="mb-0">+91 9696969696</p>
                            </div>
                            
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Quick Links</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                <a class="text-light mb-2" href="Home"><i class="bi bi-arrow-right text-primary me-2"></i>Home</a>
                                <a class="text-light mb-2" href="./home/#map"><i class="bi bi-arrow-right text-primary me-2"></i>Live Location</a>
                                <a class="text-light mb-2" href="RoadAccident"><i class="bi bi-arrow-right text-primary me-2"></i>Accident Data</a>
                                <a class="text-light mb-2" href="Bike">
                                    <i class="bi bi-arrow-right text-primary me-2"></i> Vehical Safety Products
                                </a>
                                <a class="text-light mb-2" href="guardians"><i class="bi bi-arrow-right text-primary me-2"></i>Emergency Contact</a>
                                <a class="text-light" href="About"><i class="bi bi-arrow-right text-primary me-2"></i>About Us</a>
                            </div>
                        </div>



                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Our Social Media</h3>

                            </div>
                            <h6 class="text-light mb-0">It helps in increasing communication and making connections with people all over the world.</h6>
                            <div class="d-flex mt-4">
                                <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-primary btn-square" href="https://instagram.com/binary__brains?igshid=ZDdkNTZiNTM="><i class="fab fa-instagram fw-normal"></i></a>
                            </div>

                           
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white" style="background: #061429;">
        <div class="container text-center">
            <div class="row justify-content-end">
                <div class="col-lg-8 col-md-6">
                    <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                        <p class="mb-0">
                            &copy; <a class="text-white border-bottom" href="#">Binary Brains</a>. All Rights Reserved.

                           
                            Designed by <a class="text-white border-bottom" href="">Binary Brains Group</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>